@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #ffffff;
 --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  font-family: var(--font-kanit)
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}


@layer utilities {
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }

  .img-shadow2 {
    filter: drop-shadow(10px 25px 25px #0f1115);
  }

  .input-style {
    @apply px-4 py-2 rounded-md border-gray-400
    border-[1px]
  }

  .primary-btn{
    @apply px-4 py-2  rounded-md  bg-primary text-white
  }

}
